<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}

<div class="container">

     {% include 'header/header-left.html' %}

     <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Дашборд
                </div>
            </div>
        </div>

        <div class="content">
            <form action="{{ url_for('bases.bases_blp.dashboard') }}" class="flex flex-direction-row flex-align-end mb-20" id="filterForm">
                {% if current_user.role.name == 'admin' %}
                <div class="flex flex-direction-column">
                    <label class="label label-required_danger mb-5" for="user_id" style="white-space: nowrap">Користувач</label>
                    <div class="w-100">
                        <select name="user_id" id="user_id" style="width: 300px">
                            <option value="">Оберіть користувача</option>
                            {% for user in users %}
                            {% if filter.user_id == user.id %}
                                <option value="{{user.id}}" selected>{{ user.username }}</option>
                            {% else %}
                                <option value="{{user.id}}">{{ user.username }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="flex flex-direction-column ml-15">
                    <label class="label label-required_danger mb-5" for="datetime" style="white-space: nowrap">Дата</label>
                    <div class="w-100">
                        <input
                                style="width: 320px"
                                class="input created-date-input"
                                type="text"
                                id="datetime"
                                name="datetime"
                                value="{{ filter.datetime }}"
                                autocomplete="off"
                        />
                    </div>
                </div>

                <button type="submit" class="button button-primary ml-15" onclick="filter()">
                    {% include 'header/icons/icon-filter.html' %}
                    <span style="margin-left: 10px">Фільтрувати</span>
                </button>
                <button class="button button-secondary ml-15" onclick="resetForm()">
                    {% include 'header/icons/icon-filter-clear.html' %}
                    <span style="margin-left: 10px">Скинути</span>
                </button>
            </form>

            <div class="flex flex-direction-row flex-content-between">

                <div class="card" style="width: 30%">
                    <div class="p-20">
                        <span class="card-title">
                            Моніторинг
                        </span>
                    </div>
                    <div class="card-border"></div>
                    <div class="p-20">
                        <div id="say-chart">
                            <div id="day-chart-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='chart.sample.js') }}"></script>


<script>
    let dashboard = "{{ dashboard|string }}"
    dashboard = JSON.parse(dashboard.replaceAll('&#39;', '"'));

    let options = {
        chart: {
            width: "100%",
            height: 380,
            type: "bar"
        },
        plotOptions: {
            bar: {
                horizontal: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            width: 1,
            colors: ["#fff"]
        },
        series: [
            {
                name: "Total",
                data: [dashboard["total"]]
            },
            {
                name: "Voicemail",
                data: [dashboard["voicemail"]]
            },
            {
                name: "Human",
                data: [dashboard["human"]]
            },
            {
                name: "Not predicted",
                data: [dashboard["not_predicted"]]
            },
        ],
        xaxis: {
            categories: [
                ""
            ]
        },
        legend: {
            position: "bottom",
            verticalAlign: "top",
            containerMargin: {
                left: 35,
                right: 60
            }
        },
        responsive: [
            {
                breakpoint: 1000,
                options: {
                    plotOptions: {
                        bar: {
                            horizontal: false
                        }
                    },
                    legend: {
                        position: "bottom"
                    }
                }
            }
        ]
    };

    let chart = new ApexCharts(
        document.querySelector("#day-chart-content"),
        options
    );

    options.series = [
        {
            name: "Total",
            data: [dashboard["total"]]
        },
        {
            name: "Voicemail",
            data: [dashboard["voicemail"]]
        },
        {
            name: "Human",
            data: [dashboard["human"]]
        },
        {
            name: "Not predicted",
            data: [dashboard["not_predicted"]]
        },
    ]


    chart.render();

    function resetForm() {
        event.preventDefault();
        document.getElementById('datetime').value = "";
        const uId = document.getElementById('user_id');
        if (uId !== null) {
            uId.value = "";
        }
        $('input[name="datetime"]').value = "";
        document.getElementById('filterForm').submit();
    }
    let fromDate = null;
    let toDate = null;

    function filter() {
        event.preventDefault();
        if (document.getElementById('datetime').value !== null) {
            console.log(fromDate, toDate, document.getElementById('datetime').value !== null)
            if (fromDate === null || toDate === null) {
                document.getElementById('datetime').value = "";
            } else {
                document.getElementById('datetime').value = convertLocalToUTC(fromDate) + " - " + convertLocalToUTC(toDate);
            }
            console.log(document.getElementById('datetime').value)
            document.getElementById('filterForm').submit();
        }
    }

    const currentDate = new Date();
    $(function() {
      $('input[name="datetime"]').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        timePicker24Hour: true,
        autoUpdateInput: false,
        maxSpan: {
            days: 31
        },
        maxDate: currentDate,
        locale: {
          format: 'YYYY-MM-DD HH:mm:ss'
        }
      });
    });
    $('input[name="datetime"]').on('apply.daterangepicker', function(ev, picker) {
        const currentStart = picker.startDate;
        const currentEnd = picker.endDate;

        fromDate = currentStart.format('YYYY-MM-DD HH:mm:ss');
        toDate = currentEnd.format('YYYY-MM-DD HH:mm:ss');
      $(this).val(fromDate + ' - ' + toDate);
    });

    function convertLocalToUTC(localDateString) {
        const localDate = new Date(localDateString);

        const year = localDate.getUTCFullYear();
        const month = String(localDate.getUTCMonth() + 1).padStart(2, '0');
        const day = String(localDate.getUTCDate()).padStart(2, '0');
        const hour = String(localDate.getUTCHours()).padStart(2, '0');
        const minute = String(localDate.getUTCMinutes()).padStart(2, '0');
        const second = String(localDate.getUTCSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }

    function convertUTCToLocal(utcDateString) {
      // Parse the UTC date string to a Date object
      if (utcDateString.endsWith("Z")) {
            utcDateString = utcDateString.replaceAll("Z", "");
        }
        const utcDate = new Date(utcDateString + 'Z')

      // Format the Date object to the desired format in the local timezone
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone // Ensures local timezone
      };

      const formatter = new Intl.DateTimeFormat('en-CA', options);
      const formattedDateParts = formatter.formatToParts(utcDate);

      // Extract parts and assemble into desired format
      const year = formattedDateParts.find(part => part.type === 'year').value;
      const month = formattedDateParts.find(part => part.type === 'month').value;
      const day = formattedDateParts.find(part => part.type === 'day').value;
      const hour = formattedDateParts.find(part => part.type === 'hour').value;
      const minute = formattedDateParts.find(part => part.type === 'minute').value;
      const second = formattedDateParts.find(part => part.type === 'second').value;

      // Return the formatted date string
      return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }
    document.querySelectorAll('.created-date').forEach(element => {
      const utcDate = element.textContent.trim();
      element.textContent = convertUTCToLocal(utcDate);
    });
    document.querySelectorAll('.created-date-input').forEach(element => {
      const utcDate = element.value.trim().split(" - ");
      let [from, to] = utcDate;
      if (from === "") {
          element.value = "";
      } else {
          element.value = convertUTCToLocal(from) + " - " + convertUTCToLocal(to);
      }
    });
</script>
</body>
</html>