<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}


<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
         <div class="breadcrumb">
            <span class="breadcrumb-navigation flex flex-align-center" onclick="returnPrevious()">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </span>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Розпізнавання
                </div>
            </div>
        </div>
        <div class="content flex flex-direction-row">
            <div class="card">
                 <div class="p-20">
                        <span class="card-title">
                            Загальна інформація
                        </span>
                </div>
                <div class="card-border"></div>
                <div class="card-body">
                    <div class="card-body-wrapper pt-20 pb-20">
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Дата запиту</div>
                            <div class="w-50 created-date">{{ recognition.created_date }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Ідентифікатор запиту</div>
                            <div class="w-50">{{ recognition.request_uuid }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Аудіозапис запиту</div>
                            <div class="w-50">
                                <audio controls>
                                    <source
                                            src="{{ url_for('bases.bases_blp.serve_audio', filename=recognition.request_uuid, created_date=recognition.created_date) }}"
                                            type="audio/wav"
                                    >
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Середня точність</div>
                            <div class="w-50">{{ recognition.confidence }} %</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Результат</div>
                            <div class="w-50">{{ recognition.prediction }} </div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Номер</div>
                            <div class="w-50">{{ recognition.extension }}</div>
                        </div>
                        {% if current_user.role.name == 'admin' or current_user.role.name == 'supervisor' %}
                        <div class="p-20">
                            <span class="card-title">
                                Користувач
                            </span>
                        </div>
                        <div class="card-border mb-20"></div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Ідентифікатор</div>
                            <div class="w-50">{{ recognition.user_id }} ({{ recognition.user.uuid }})</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Last name</div>
                            <div class="w-50">{{ recognition.user.last_name }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">First name</div>
                            <div class="w-50">{{ recognition.user.first_name }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Email</div>
                            <div class="w-50">{{ recognition.user.email }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Phone</div>
                            <div class="w-50">{{ recognition.user.phone }}</div>
                        </div>
                        <div class="flex flex-direction-row flex-align-center py-20 mb-20">
                            <div class="w-50">Audience</div>
                            <div class="w-50">{{ recognition.user.audience }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card ml-15">
                <div class="p-20">
                    <span class="card-title">
                        Пов'язані розпізнавання
                    </span>
                </div>
                <div class="card-body">
                    <div class="card-body-wrapper pb-20">
                     {% set headings = [
                        {'name': 'ID', 'width': '8%'},
                        {'name': 'Дата', 'width': '25%'},
                        {'name': 'Остаточний', 'width': '10%'},
                        {'name': 'Аудіо', 'width': '32%'},
                        {'name': 'Точність', 'width': '12%'},
                        {'name': 'Результат', 'width': '12%'},
                    ] %}

                    <div class="table-header">
                        {% for heading in headings %}
                        <div style="width: {{heading.width}};">
                            {{ heading.name }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="content-wrapper-info" id="table-related">
                        <div class="table-content">
                            {% for r in related_recognitions %}
                            {% if not r.final %}
                            <div class="table-row">
                                <div style="width: 8%">{{ r.id }}</div>
                                <div style="width: 25%" class="created-date">{{ r.created_date }}</div>
                                <div style="width: 10%">{{ r.final }}</div>
                                {% if r.audio_uuid %}
                                <div style="width: 32%">
                                    <audio controls style="width: 250px">
                                        <source
                                                src="{{ url_for('bases.bases_blp.serve_audio', filename=r.audio_uuid, created_date=r.created_date) }}"
                                                type="audio/wav"
                                        >
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                                {% endif %}
                                <div style="width: 12%">{{ r.confidence }} %</div>
                                <div style="width: 12%">{{ r.prediction }}</div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function returnPrevious() {
        if (!document.referrer) {
            window.location.href = '/recognitions'
        } else if (!document.referrer.includes("recognitions")) {
            window.location.href = '/recognitions'
        } else {
            window.location.href = document.referrer;
        }
    }
    function convertUTCToLocal(utcDateString) {
      // Parse the UTC date string to a Date object
      if (utcDateString.endsWith("Z")) {
            utcDateString = utcDateString.replaceAll("Z", "");
        }
        const utcDate = new Date(utcDateString + 'Z')

      // Format the Date object to the desired format in the local timezone
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone
      };

        const formatter = new Intl.DateTimeFormat('en-CA', options);
        if (formatter && utcDate) {
          const formattedDateParts = formatter.formatToParts(utcDate);

          // Extract parts and assemble into desired format
          const year = formattedDateParts.find(part => part.type === 'year').value;
          const month = formattedDateParts.find(part => part.type === 'month').value;
          const day = formattedDateParts.find(part => part.type === 'day').value;
          const hour = formattedDateParts.find(part => part.type === 'hour').value;
          const minute = formattedDateParts.find(part => part.type === 'minute').value;
          const second = formattedDateParts.find(part => part.type === 'second').value;

          // Return the formatted date string
          return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
      }
      return ''
    }
    document.querySelectorAll('.created-date').forEach(element => {
      const utcDate = element.textContent.trim();
      element.textContent = convertUTCToLocal(utcDate);
    });
</script>
</html>