<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    {% include 'toast.html' %}
{% endfor %}
{% endif %}
{% endwith %}

{% include 'header/header-top.html' %}

<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Розпізнавання
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-wrapper">
                <div class="content-wrapper-head" style="overflow: hidden; position:relative;">
                    <div class="content-wrapper-head-actions">
                        <form id="filterForm" action="{{ url_for('bases.bases_blp.recognitions') }}" class="flex flex-direction-row flex-align-end" style="position: absolute; overflow: hidden">
                            <div class="flex flex-direction-row flex-align-end">
                              {% if current_user.role.name == 'admin' %}
                                <div class="flex flex-direction-column ml-15">
                                    <label class="label label-required_danger mb-5" for="user_id" style="white-space: nowrap">Користувач</label>
                                    <div class="w-100">
                                        <select name="user_id" id="user_id" style="width: 180px">
                                            <option value="">Оберіть користувача</option>
                                            {% for user in users %}
                                            {% if filter.user_id == user.id %}
                                                <option value="{{user.id}}" selected>{{ user.username }}</option>
                                            {% else %}
                                                <option value="{{user.id}}">{{ user.username }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="datetime" style="white-space: nowrap">Дата</label>
                                <div class="w-100">
                                    <input
                                            style="width: 180px"
                                            class="input created-date-input"
                                            type="text"
                                            id="datetime"
                                            name="datetime"
                                            value="{{ filter.datetime }}"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>

                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="campaign_id" style="white-space: nowrap">Телемаркетинг</label>
                                <div class="w-100">
                                    <input
                                            style="width: 180px"
                                            class="input"
                                            min="0"
                                            type="number"
                                            id="campaign_id"
                                            name="campaign_id"
                                            value="{{ filter.campaign_id }}"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>

                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="request_uuid" style="white-space: nowrap">Ідентифікатор запиту</label>
                                <div class="w-100">
                                    <input
                                            style="width: 180px"
                                            class="input"
                                            type="text"
                                            id="request_uuid"
                                            name="request_uuid"
                                            value="{{ filter.request_uuid }}"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>

                            <div class="flex flex-direction-column ml-15">
                                <label class="label label-required_danger mb-5" for="extension">Телефон</label>
                                <div class="w-100">
                                    <input
                                            style="width: 180px"
                                            class="input"
                                            type="text"
                                            id="extension"
                                            name="extension"
                                            value="{{ filter.extension }}"
                                            autocomplete="off"
                                    />
                                </div>
                            </div>

                            <div class="flex flex-direction-column ml-15">
                                    <label class="label label-required_danger mb-5" for="prediction" style="white-space: nowrap">Результат</label>
                                    <div class="w-100">
                                        <select name="prediction" id="prediction" style="width: 180px">
                                            <option value="">Оберіть результат</option>
                                            <option value="human"  {% if filter.prediction and filter.prediction == 'human' %}selected{% endif %}>human</option>
                                            <option value="voicemail" {% if filter.prediction and filter.prediction == 'voicemail' %}selected{% endif %}>voicemail</option>
                                            <option value="not_predicted" {% if filter.prediction and filter.prediction == 'not_predicted' %}selected{% endif %}>not_predicted</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input
                                    class="input created-date-input"
                                    type="hidden"
                                    id="reset"
                                    name="reset"
                                    value="0"
                                    autocomplete="off"
                            />

                            <div class="flex flex-direction-row">
                                <button class="button button-secondary ml-15" onclick="exportRecognitions()">
                                {% include 'header/icons/icon-export.html' %}
                                <span style="margin-left: 10px">Експорт</span>
                                </button>
                                <button class="button button-secondary ml-15" onclick="resetForm()">
                                {% include 'header/icons/icon-filter-clear.html' %}
                                <span style="margin-left: 10px">Скинути</span>
                                </button>
                                <button type="submit" class="button button-primary ml-10" onclick="filter()">
                                    {% include 'header/icons/icon-filter.html' %}
                                    <span style="margin-left: 10px">Фільтрувати</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% set headings = [
                    {'name': 'Дата створення'},
                    {'name': 'Ідентифікатор запиту', 'iden': True},
                    {'name': "Ідентифікатор розпізнавання", 'iden': True},
                    {'name': 'Остаточний', 'small': True},
                    {'name': 'Точність', 'small': True},
                    {'name': 'Результат', 'small': True},
                    {'name': 'Номер'},
                    {'name': 'Дії', 'actions': True},
                ] %}

                <div class="table-header">
                   {% for heading in headings %}
                    <div style="width: {% if heading.actions %}50px{% else %}{% if heading.iden %}20%{% else %}{% if heading.small %}9.5%{% else %}12%{% endif %}{% endif %}{% endif %};">
                        {{ heading.name }}
                    </div>
                    {% endfor %}
                </div>

                <div class="content-wrapper-info">
                    <div class="table-content">
                        {% for recognition in recognitions %}
                        <div class="table-row">
                            <div style="width: 12%" class="created-date">{{ recognition.created_date }}</div>
                            <div style="width: 20%">{{ recognition.request_uuid }}</div>
                            <div style="width: 20%">{{ recognition.audio_uuid }}</div>
                            <div style="width: 10%">{{ recognition.final }}</div>
                            <div style="width: 10%">{{ recognition.confidence }}</div>
                            <div style="width: 10%">{{ recognition.prediction }}</div>
                            <div style="width: 12%">{{ recognition.extension }}</div>

                            <div style="width: 50px">
                                <div class="is-flex-direction-row is-align-content-center">
                                    <a href="{{ url_for('bases.bases_blp.recognition', recognition_id=recognition.id) }}" style="color: #00475A">
                                       {% include 'header/icons/icon-edit.html' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% with page=page, total_pages=total_pages, start_page=start_page, end_page=end_page, template='bases.bases_blp.recognitions'  %}
            {% include "pagination.html" %}
        {% endwith %}
    </div>
</div>
<script>
    function resetForm() {
        event.preventDefault();
        document.getElementById('reset').value = 1;
        document.getElementById('request_uuid').value = "";
        document.getElementById('extension').value = "";
        document.getElementById('campaign_id').value = "";
        document.getElementById('datetime').value = "";
        document.getElementById('prediction').value = "";
        const uId = document.getElementById('user_id');
        if (uId !== null) {
            uId.value = "";
        }
        $('input[name="datetime"]').value = "";
        let form = document.getElementById('filterForm');
        form.action = "/recognitions"
        form.submit();
    }

    function exportRecognitions() {
        event.preventDefault();
        let date_time_filter = document.getElementById('datetime').value;
         if (!date_time_filter) {
            showToast("Please select a date range before exporting.");
            return;
        }
        let form = document.getElementById("filterForm");
        form.action = "/recognitions-export"
        form.submit();
    }

    function showToast(message) {
        let notifications = document.querySelector(".notifications");

        if (!notifications) {
            notifications = document.createElement("ul");
            notifications.className = "notifications";
            document.body.appendChild(notifications);
        }

        let toast = document.createElement("li");
        toast.className = "toast error";

        toast.innerHTML = `
            <div class="column">
                <span>${message}</span>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="removeToast(this.parentElement)">
                <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 6L18 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        `;

        notifications.appendChild(toast);

        toast.timeoutId = setTimeout(() => removeToast(toast), 5000);
    }

    let fromDate = null;
    let toDate = null;


    function filter() {
        event.preventDefault();
        document.getElementById('reset').value = 0;
        if (document.getElementById('datetime').value !== null) {
            if (fromDate === null || toDate === null) {
                document.getElementById('datetime').value = "";
            } else {
                document.getElementById('datetime').value = convertLocalToUTC(fromDate) + " - " + convertLocalToUTC(toDate);
            }
            let form = document.getElementById("filterForm");
            form.action = "/recognitions"
            form.submit();
        }
    }

    const currentDate = new Date();
    $(function() {
      $('input[name="datetime"]').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        timePicker24Hour: true,
        autoUpdateInput: false,
        maxDate: currentDate,
        maxSpan: {
            days: 31
        },
        locale: {
          format: 'YYYY-MM-DD HH:mm:ss'
        }
      });
    });
    $('input[name="datetime"]').on('apply.daterangepicker', function(ev, picker) {
        const currentStart = picker.startDate;
        const currentEnd = picker.endDate;

        fromDate = currentStart.format('YYYY-MM-DD HH:mm:ss');
        toDate = currentEnd.format('YYYY-MM-DD HH:mm:ss');
      $(this).val(fromDate + ' - ' + toDate);
    });

    function convertLocalToUTC(localDateString) {
        // Parse the local date string to a Date object
        const localDate = new Date(localDateString);

        // Ensure correct UTC formatting using the Date object's UTC methods
        const year = localDate.getUTCFullYear();
        const month = String(localDate.getUTCMonth() + 1).padStart(2, '0'); // Months are zero-indexed
        const day = String(localDate.getUTCDate()).padStart(2, '0');
        const hour = String(localDate.getUTCHours()).padStart(2, '0');
        const minute = String(localDate.getUTCMinutes()).padStart(2, '0');
        const second = String(localDate.getUTCSeconds()).padStart(2, '0');

        return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }

    function convertUTCToLocal(utcDateString) {
      // Parse the UTC date string to a Date object
      if (utcDateString.endsWith("Z")) {
            utcDateString = utcDateString.replaceAll("Z", "");
        }
        const utcDate = new Date(utcDateString + 'Z')

      // Format the Date object to the desired format in the local timezone
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false,
        timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone // Ensures local timezone
      };

      const formatter = new Intl.DateTimeFormat('en-CA', options);
      const formattedDateParts = formatter.formatToParts(utcDate);

      // Extract parts and assemble into desired format
      const year = formattedDateParts.find(part => part.type === 'year').value;
      const month = formattedDateParts.find(part => part.type === 'month').value;
      const day = formattedDateParts.find(part => part.type === 'day').value;
      const hour = formattedDateParts.find(part => part.type === 'hour').value;
      const minute = formattedDateParts.find(part => part.type === 'minute').value;
      const second = formattedDateParts.find(part => part.type === 'second').value;

      // Return the formatted date string
      return `${year}-${month}-${day} ${hour}:${minute}:${second}`;
    }
    document.querySelectorAll('.created-date').forEach(element => {
      const utcDate = element.textContent.trim();
      element.textContent = convertUTCToLocal(utcDate);
    });
    document.querySelectorAll('.created-date-input').forEach(element => {
      const utcDate = element.value.trim().split(" - ");
      let [from, to] = utcDate;
      if (from === "") {
          element.value = "";
      } else {
          element.value = convertUTCToLocal(from) + " - " + convertUTCToLocal(to);
      }
    });
</script>
</body>
</html>