<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}

<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Розпізнавання
                </div>
            </div>
        </div>

        <div class="content">
            <div class="content-wrapper">
                <div class="content-wrapper-head">
                    <div class="content-head-heading">
                        <div class="content-wrapper-head-header-heading">
                            Розпізнавання
                        </div>
                        <div class="content-wrapper-head-header-description">
                            Детальні звіти
                        </div>
                    </div>
                    <div class="content-wrapper-head-actions">
                        <button class="button button-main">
                            {% include 'header/icons/icon-add.html' %}
                            <span style="margin-left: 10px">Фільтрувати</span>
                        </button>
                    </div>
                </div>

                {% set headings = [
                    {'name': 'ID'},
                    {'name': 'Дата створення'},
                    {'name': 'Ідентифікатор запиту'},
                    {'name': "Ідентифікатор розпізнавання"},
                    {'name': 'Остаточний'},
                    {'name': 'Точність'},
                    {'name': 'Результат'},
                    {'name': 'Номер'},
                    {'name': 'Дії'},
                ] %}

                <div class="table-header">
                   {% for heading in headings %}
                        <div style="{% if heading != 'Дії' %}width: 11%{% else %}width: 60px{% endif %}">
                            {{ heading.name }}
                        </div>
                    {% endfor %}
                </div>

                <div class="content-wrapper-info">
                    <div class="table-content">
                        {% for recognition in recognitions %}
                        <div class="table-row">
                            <div style="width: 10%">{{ recognition.id }}</div>
                            <div style="width: 12%">{{ recognition.created_date }}</div>
                            <div style="width: 12%">{{ recognition.request_uuid }}</div>
                            <div style="width: 11%">{{ recognition.audio_uuid }}</div>
                            <div style="width: 11%">{{ recognition.final|byte_to_bool }}</div>
                            <div style="width: 11%">{{ recognition.confidence }}</div>
                            <div style="width: 11%">{{ recognition.prediction }}</div>
                            <div style="width: 11%">{{ recognition.extension }}</div>

                            <div style="width: 50px">
                                <div class="is-flex-direction-row is-align-content-center">
                                    <a href="{{ url_for('recognition', recognition_id=recognition.id) }}">
                                       {% include 'header/icons/icon-edit.html' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% with page=page, total_pages=total_pages, start_page=start_page, end_page=end_page, template='recognitions' %}
            {% include "pagination.html" %}
        {% endwith %}
    </div>
</div>
</body>
</html>


<!--&lt;!&ndash;    admin action buttons&ndash;&gt;-->
<!--<div class="container is-fluid my-5 is-flex is-justify-content-space-between">-->
<!--    <form id="filterForm" action="{{ url_for('recognitions') }}" class="is-flex is-justify-content-space-around is-align-items-center">-->
<!--        <div class="is-flex is-flex-direction-row is-align-items-center">-->
<!--            {% if role == 'admin' %}-->
<!--            <div class="control has-icons-left">-->
<!--                <div class="select is-info input-texted mr-4">-->
<!--                    <label>User</label>-->
<!--                    <select name="user_id" style="width: 300px">-->
<!--                        <option value="">Select user</option>-->
<!--                        {% for user in users %}-->
<!--                        <option value="{{user.id}}">{{ user.username }}</option>-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->
<!--                <span class="icon is-large is-left">-->
<!--            <i class="fas fa-user"></i>-->
<!--            </span>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--            <div class="input-texted mr-4">-->
<!--                <p class="control has-icons-left">-->
<!--                    <label>Request uuid</label>-->
<!--                    <input class="input is-normal is-info" type="text" name="request_uuid"-->
<!--                           placeholder="Enter request uuid"/>-->
<!--                    <span class="icon is-small is-left">-->
<!--                      <i class="fas fa-fingerprint"></i>-->
<!--                    </span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="input-texted">-->
<!--                <p class="control has-icons-left">-->
<!--                    <label>Extension</label>-->
<!--                    <input class="input is-normal is-info" type="text" name="extension" placeholder="Enter extension"/>-->
<!--                    <span class="icon is-small is-left">-->
<!--              <i class="fas fa-phone"></i>-->
<!--            </span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="is-flex is-justify-content-flex-end is-align-items-center ml-4">-->
<!--            <button type="submit" class="button is-link">-->
<!--                <span class="icon mr-2">-->
<!--                  <i class="fa-solid fa-filter"></i>-->
<!--                </span>-->
<!--                <span>Filter</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="is-flex is-justify-content-flex-end is-align-items-center ml-4">-->
<!--            <button onclick="resetForm()" class="button is-link">-->
<!--                <span class="icon mr-2">-->
<!--                  <i class="fa-regular fa-trash-can"></i>-->
<!--                </span>-->
<!--                <span>Clear</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--&lt;!&ndash;    admin recognition tables&ndash;&gt;-->
<!--<div class="container is-fluid mt-5">-->
<!--    <table class="table is-hoverable container-table is-fullwidth bd-navbar">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Created date</th>-->
<!--            <th>Request uuid</th>-->
<!--            <th>Audio uuid</th>-->
<!--            <th>Final</th>-->
<!--            <th>Confidence</th>-->
<!--            <th>Prediction</th>-->
<!--            <th>Extension</th>-->
<!--            <th>Actions</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        {% for recognition in recognitions %}-->
<!--        <tr>-->
<!--            <th>{{ recognition.id }}</th>-->
<!--            <td>{{ recognition.created_date }}</td>-->
<!--            <td>{{ recognition.request_uuid }}</td>-->
<!--            <td>{{ recognition.audio_uuid }}</td>-->
<!--            <td>{{ recognition.final|byte_to_bool }}</td>-->
<!--            <td>{{ recognition.confidence }}</td>-->
<!--            <td>{{ recognition.prediction }}</td>-->
<!--            <td>{{ recognition.extension }}</td>-->

<!--            <td>-->
<!--                <div class="is-flex-direction-row is-align-content-center">-->
<!--                    <a href="{{ url_for('recognition', recognition_id=recognition.id) }}">-->
<!--                      <span class="icon">-->
<!--                        <i class="fa-regular fa-pen-to-square"></i>-->
<!--                      </span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--&lt;!&ndash;  admin pagination&ndash;&gt;-->
<!--{% with page=page, total_pages=total_pages, start_page=start_page, end_page=end_page, template='recognitions' %}-->
<!--{% include "pagination.html" %}-->
<!--{% endwith %}-->

<!--<script>-->
<!--    function resetForm() {-->
<!--        document.getElementById('filterForm').reset();-->
<!--        document.getElementById('filterForm').submit();-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
