<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'header/header-top.html' %}

<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    {% for message in messages %}-->
<!--        <div class="notification is-danger is-light" onclick="this.remove()">-->
<!--            <button class="delete"></button>-->
<!--            {{ message }}-->
<!--        </div>-->
<!--    {% endfor %}-->
<!--  {% endif %}-->
<!--{% endwith %}-->

<div class="container">

    {% include 'header/header-left.html' %}

    <div class="container-main">
        <div class="breadcrumb">
            <div class="breadcrumb-navigation flex flex-align-center">
                {% include 'header/icons/icon-breadcrumb.html' %}
            </div>
            <div class="breadcrumb-heading flex flex-align-center">
                <div class="breadcrumb-heading-previous ml-15">
                    Користувачі
                </div>
            </div>
        </div>

        <div class="content">
            <form
                    method="POST"
                    onsubmit="event.preventDefault(); validateUserForm();"
                    id="userForm"
                    class="flex flex-direction-row"
                    action="{% if not user.id %}{{ url_for('create_user') }}{% else %}{{ url_for('user', user_id=user.id) }}{% endif %}">

                <div class="card">
                    <div class="p-20">
                        <span class="card-title">
                            Користувач
                        </span>
                    </div>
                    <div class="card-border"></div>
                    <div class="p-20">
                        <input class="input is-success" type="hidden" id="user_id" name="id" value="{{ user.id }}">
                        <input class="input is-success" type="hidden" name="tariff_id" value="{{ user.tariff_id }}">
                        <input class="input is-success" type="hidden" name="recognition_id"
                               value="{{ user.recognition_id }}">


                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="username">Логін</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="username"
                                        name="username"
                                        placeholder="Логін"
                                        value="{{ user.username }}"
                                        {% if id in user and user.id > 0 %}disabled{% endif %}
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="last_name">Прізвище</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="last_name"
                                        name="last_name"
                                        placeholder="Прізвище"
                                        value="{{ user.last_name }}"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="first_name">Ім'я</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="first_name"
                                        name="first_name"
                                        placeholder="Ім'я"
                                        value="{{ user.first_name }}"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="email">Email</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="email"
                                        name="email"
                                        placeholder="Email"
                                        value="{{ user.email }}"
                                        {% if id in user and user.id > 0 %}disabled{% endif %}
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="phone">Телефон</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="phone"
                                        name="phone"
                                        placeholder="Телефон"
                                        value="{{ user.phone }}"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="phone">API ключ</label>
                            <div class="w-100">
                                <div class="w-100">
                                    <input
                                            class="input"
                                            type="text"
                                            id="api_key"
                                            name="api_key"
                                            placeholder="Api key"
                                            value="{{ user.api_key }}"
                                            oninput="validateField(this)"
                                    />
                                </div>
                                <div class="tag is-link is-medium ml-2" onclick="generateUrlSafe32()">
                                    <i class="fa-solid fa-key"></i>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="password">Пароль</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="password"
                                        name="password"
                                        placeholder="Hidden"
                                        oninput="validatePassword(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="audience">Домен</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="text"
                                        id="audience"
                                        name="audience"
                                        value="{{ user.audience }}"
                                        placeholder="voiptime.net"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card ml-15">
                    <div class="p-20">
                        <span class="card-title">
                            Ліцензія
                        </span>
                    </div>
                    <div class="card-border"></div>
                    <div class="p-20">
                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="active">Активна</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="checkbox"
                                        id="active"
                                        name="active"
                                        value="{{ user.active }}"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center mb-20">
                            <label class="label label-required_danger" for="total">Загалом</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="number"
                                        id="total"
                                        name="total"
                                        value="{{ user.total }}"
                                        placeholder="1000"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>

                        <div class="flex flex-direction-row flex-align-center">
                            <label class="label label-required_danger" for="used">Використано</label>
                            <div class="w-100">
                                <input
                                        class="input"
                                        type="number"
                                        id="used"
                                        name="used"
                                        value="{{ user.used }}"
                                        placeholder="1000"
                                        oninput="validateField(this)"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="p-20">
                        <span class="card-title">
                            Налаштування
                        </span>
                    </div>
                    <div class="card-border"></div>

                    <div class="flex flex-direction-row tabs">
                        <div class="interim-tab-header is-active" onclick="changeRecognitionTab(this, 'interim')">
                            <a>
                                <span class="icon is-small">
                                    {% include 'header/icons/icon-configuration.html' %}
                                </span>
                                <span>Configuration</span>
                            </a>
                        </div>
                        <div class="voice-tab-header" onclick="changeRecognitionTab(this, 'voice')">
                            <a>
                                <span class="icon is-small">
                                    {% include 'header/icons/icon-voice.html' %}
                                </span>
                                <span>Voice</span>
                            </a>
                        </div>
                    </div>
                    <div class="p-20">
                        <div class="interim-tab">
                            <div class="field">
                                <label class="label">Interval length</label>
                                <div class="control">
                                    <input
                                            class="input"
                                            type="number"
                                            name="interval_length"
                                            placeholder="2"
                                            min="1"
                                            max="5"
                                            onKeyUp="if(this.value>5){this.value='5';}else if(this.value<0){this.value='1';}"
                                            value="{{ user.interval_length }}"/>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Interim</label>
                                <div class="control py-2">
                                    <label class="radio">
                                        <input type="radio" name="interim" value="True" {% if
                                               user.interim|byte_to_bool %}checked{%
                                               endif %} onchange="changeInterim(false)">
                                        <span class="pl-2">Yes</span>
                                    </label>
                                    <label class="radio pl-2">
                                        <input type="radio" name="interim" value="False" {% if
                                               not user.interim|byte_to_bool
                                               %}checked{% endif %} onchange="changeInterim(true)">
                                        <span class="pl-2">No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Predictions</label>
                                <div class="control">
                                    <input
                                            class="input"
                                            type="number"
                                            name="predictions"
                                            id="predictions"
                                            placeholder="2"
                                            min="1"
                                            max="5"
                                            onKeyUp="if(this.value>5){this.value='5';}else if(this.value<0){this.value='1';}"
                                            value="{{ user.predictions }}"
                                    />
                                </div>
                            </div>
                            <div class="is-flex is-justify-content-end is-align-items-center">
                                <div class="mr-4" style="width: 60px">
                                    <input
                                            class="input is-small"
                                            id="rowIntervalSize"
                                            type="number"
                                            min="1"
                                            max="5"
                                            onKeyUp="if(this.value>5){this.value='5';}else if(this.value<0){this.value='1';}"
                                    >
                                </div>
                                <div class="tag is-link is-medium" onclick="addRowToTable()">Add interval</div>
                            </div>
                            <table class="table is-fullwidth">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="voice-tab is-hidden">
                            <div class="field">
                                <label class="label">Sample rate (Hz)</label>
                                <div class="control">
                                    <input
                                            class="input"
                                            type="number"
                                            name="rate"
                                            placeholder="8000"
                                            value="{{ user.rate }}"/>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Encoding</label>
                                <div class="control">
                                    <input
                                            class="input"
                                            type="text"
                                            name="encoding"
                                            placeholder="slin"
                                            value="{{ user.encoding }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


<!--        <div class="tile is-ancestor">-->
            <!--            <div class="tile is-parent">-->
            <!--                <article class="tile is-child box">-->
            <!--                    <p class="subtitle is-3">License</p>-->
            <!--                    <div class="field">-->
            <!--                        <label class="label">Active</label>-->
            <!--                        <div class="control py-2">-->
            <!--                            <label class="radio">-->
            <!--                                <input type="radio" name="active" value="True"-->
            <!--                                       {% if user.active|byte_to_bool %}checked{% endif %}-->
            <!--                                       {% if role=='guest' %}disabled{% endif %}-->
            <!--                                >-->
            <!--                                <span class="pl-2">Yes</span>-->
            <!--                            </label>-->
            <!--                            <label class="radio pl-2">-->
            <!--                                <input type="radio" name="active" value="False"-->
            <!--                                       {% if not user.active|byte_to_bool %}checked{% endif %}-->
            <!--                                       {% if role=='guest' %}disabled{% endif %}-->
            <!--                                >-->
            <!--                                <span class="pl-2">No</span>-->
            <!--                            </label>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="field">-->
            <!--                        <label class="label">Total</label>-->
            <!--                        <div class="control">-->
            <!--                            {% if role=='guest' %}-->
            <!--                            <h4 class="subtitle is-4">{{ user.total }}</h4>-->
            <!--                            {% endif %}-->
            <!--                            <input class="input" type="{% if role=='guest' %}hidden{% else%}number{% endif %}"-->
            <!--                                   name="total" placeholder="100"-->
            <!--                                   value="{{ user.total }}"-->
            <!--                                   {% if role=='guest' %}disabled{% endif %}-->
            <!--                            />-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="field">-->
            <!--                        <label class="label">Used</label>-->
            <!--                        <div class="control">-->
            <!--                            {% if role=='guest' %}-->
            <!--                            <h4 class="subtitle is-4"><span-->
            <!--                                    class="tag is-warning is-light is-medium">{{ user.used }}</span>-->
            <!--                                / <span class="tag is-danger is-light is-medium">{{ user.total }}</span></h4>-->
            <!--                            {% endif %}-->
            <!--                            <input class="input" type="{% if role=='guest' %}hidden{% else%}number{% endif %}"-->
            <!--                                   name="used" placeholder="100"-->
            <!--                                   value="{{ user.used }}"-->
            <!--                                   {% if role=='guest' %}disabled{% endif %}-->
            <!--                            />-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </article>-->
            <!--            </div>-->

<!--        </div>-->

<!--        </form>-->
        <div class="field is-grouped is-justify-content-flex-end">
            <div class="control">
                <button onclick="saveForm()" class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" onclick="window.location.href = '/users'">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    function changeRecognitionTab(el, tab) {
        el.classList.add("is-active");
        if (tab === 'interim') {
            document.querySelector(".voice-tab-header").classList.remove("is-active");
            document.querySelector(".interim-tab").classList.remove("is-hidden");
            document.querySelector(".voice-tab").classList.add("is-hidden");
        }
        if (tab === 'voice') {
            document.querySelector(".interim-tab").classList.add("is-hidden");
            document.querySelector(".voice-tab").classList.remove("is-hidden");
            document.querySelector(".interim-tab-header").classList.remove("is-active");
        }
    }

    function validatePassword(event) {
        const userId = +document.getElementById("user_id").value;
        if (userId === 0 || event.value.length >= 1) {
            validateField(event)
        }
    }

    function validateUserForm() {
        /**
         * User form validation */
        let isValid = true;

        let username = document.getElementById("username");
        isValid = validateField(username);
        let firstName = document.getElementById("first_name");
        isValid = validateField(firstName);
        let lastName = document.getElementById("last_name");
        isValid = validateField(lastName);
        let email = document.getElementById("email");
        isValid = validateField(email);
        let phone = document.getElementById("phone");
        isValid = validateField(phone);
        let apiKey = document.getElementById("api_key");
        isValid = validateField(apiKey);
        let password = document.getElementById("password");
        isValid = validateField(password);
        let audience = document.getElementById("audience");
        isValid = validateField(audience);

        if (isValid)
            document.getElementById("userForm").submit();
    }

    function validateField(field) {
        /**
         * User field validation */
        if (field.value.length >= 5) {
            if (field.classList.contains("is-danger")) {
                field.classList.replace("is-danger", "is-success")
                return true;
            } else {
                field.classList.add("is-success");
                return true;
            }
        } else {
            if (field.classList.contains("is-success")) {
                field.classList.replace("is-success", "is-danger")
                return false;
            } else {
                field.classList.add("is-danger");
                return false;
            }
        }
    }

    function generateUrlSafe32() {
        let characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_';
        let result = '';
        let charactersLength = characters.length;
        for (let i = 0; i < 32; i++) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        document.getElementById("api_key").value = result;
    }

    function changeInterim(value) {
        document.getElementById("predictions").disabled = value
    }

    function addRowToTable() {
        // columnSize+=1;
        let columnSize = +document.getElementById("rowIntervalSize").value;
        columnSize += 1;
        // Get reference to table body
        var tbody = document.querySelector('table tbody');

        // Create new row element
        var newRow = document.createElement('tr');

        let max = tbody.children.length + 1;
        for (let i = 0; i < tbody.children.length; i++) {
            const child = tbody.children[i];
            const number = +child.id.split("_");
            if (number[2] === columnSize) {
                if (number[1] > max) {
                    max = number[1] + 1;
                }
            }
        }
        let itemsSize = ((max + 1) + '_result_' + (columnSize));
        newRow.id = itemsSize;

        // Loop to create cells and inputs for each column
        for (var i = 0; i < columnSize; i++) {
            // Create new cell element
            var cell = document.createElement('td');

            // Create new div element with radio inputs
            var radioDiv = document.createElement('div');
            radioDiv.classList.add('field');
            radioDiv.classList.add('control');
            radioDiv.classList.add('is-flex');
            radioDiv.classList.add('is-flex-direction-column');
            radioDiv.classList.add('py-2');

            // Create radio inputs and labels
            for (var j = 0; j < 3; j++) {
                var childRadioDiv = document.createElement('div');
                childRadioDiv.classList.add('is-flex');
                childRadioDiv.classList.add('is-flex-direction-row');
                childRadioDiv.classList.add('is-align-items-center');
                if (j === 0) {
                    var tag = document.createElement('span');
                    tag.classList.add("tag")
                    tag.classList.add(((i + 1) !== columnSize) ? 'is-success' : 'is-warning')
                    tag.classList.add("mb-1")
                    tag.textContent = (i + 1) !== columnSize ? 'Interval ' + (i + 1) : 'Result';
                    childRadioDiv.appendChild(tag);
                } else {
                    var radioInput = document.createElement('input');
                    radioInput.type = 'radio';
                    radioInput.name = (i + 1) !== columnSize ? ((max + 1) + '_interval_' + (i + 1)) : ((max + 1) + '_result_' + (columnSize));
                    radioInput.value = (j === 1) ? 'True' : 'False';
                    if (j === 1) {
                        radioInput.checked = true;
                    }

                    var label = document.createElement('span');
                    label.classList.add('pl-2');
                    label.textContent = (j === 1) ? 'Human' : 'Voicemail';

                    // Append radio input and label to radio div
                    childRadioDiv.appendChild(radioInput);
                    childRadioDiv.appendChild(label);
                }
                radioDiv.appendChild(childRadioDiv);
            }

            // Append radio div to cell
            cell.appendChild(radioDiv);

            // Append cell to row
            newRow.appendChild(cell);
        }

        let actionDivCol = document.createElement("td");
        let actionDivField = document.createElement("div");

        actionDivField.classList.add("field");

        let childActionDivField = document.createElement('div');
        childActionDivField.classList.add('control');
        childActionDivField.classList.add('py-2');
        childActionDivField.classList.add('is-flex');
        childActionDivField.classList.add('is-flex-direction-column');
        childActionDivField.classList.add('is-align-items-center');

        let actionHeadingDiv = document.createElement("div");
        actionHeadingDiv.classList.add('is-flex');
        actionHeadingDiv.classList.add('is-flex-direction-row');
        actionHeadingDiv.classList.add('is-align-items-center');

        let actionHeadingSpan = document.createElement("span");
        actionHeadingSpan.classList.add("tag");
        actionHeadingSpan.classList.add("is-danger");
        actionHeadingSpan.classList.add("mb-1");
        actionHeadingSpan.innerText = "Action";

        actionHeadingDiv.append(actionHeadingSpan);

        let actionContentDiv = document.createElement("div");
        actionContentDiv.classList.add('is-flex');
        actionContentDiv.classList.add('is-flex-direction-row');
        actionContentDiv.classList.add('is-align-items-center');

        let actionRemove = document.createElement("i");
        actionRemove.classList.add("fa-solid");
        actionRemove.classList.add("fa-trash");
        actionRemove.addEventListener("click", () => removeInterim(`${itemsSize}`))

        actionContentDiv.append(actionRemove);

        childActionDivField.appendChild(actionHeadingDiv);
        childActionDivField.appendChild(actionContentDiv);

        actionDivField.appendChild(childActionDivField);
        actionDivCol.appendChild(actionDivField);

        newRow.appendChild(actionDivCol)
        // newRow.innerHTML +=`
        //     <td>
        //         <div class="field">
        //             <div class="control py-2 is-flex is-flex-direction-column is-align-items-center">
        //                 <div class="is-flex is-flex-direction-row is-align-items-center">
        //                     <span class="tag is-danger mb-1">Action</span>
        //                 </div>
        //                 <div class="is-flex is-flex-direction-row is-align-items-center">
        //                     <i class="fa-solid fa-trash" onclick="removeInterim('${((tbody.children.length + 1) + '_result_' + (columnSize))}')"></i>
        //                 </div>
        //             </div>
        //         </div>
        //     </td>
        // `

        // Append new row to table body
        tbody.appendChild(newRow);
    }

    function parseRows(criteria) {
        criteria = criteria.replaceAll('&#34;', '"');
        let data = JSON.parse(criteria);
        let intervals = {};

        let results = {};
        let tbody = document.querySelector('table tbody');

        // Group keys by suffix
        for (const key in data) {
            if (data.hasOwnProperty(key)) {
                const suffix = key.split('_')[1];
                if (suffix.startsWith('interval')) {
                    intervals[key] = data[key];
                } else if (suffix.startsWith('result')) {
                    results[key] = data[key];
                }
            }
        }
        let html = '';

        // Generate rows based on the result keys
        for (const resultKey in results) {
            html = ''
            if (results.hasOwnProperty(resultKey)) {
                html += '<tr id="' + resultKey + '">';
                let row = +resultKey.split("_").shift();
                for (const intervalKey in intervals) {
                    if (intervals.hasOwnProperty(intervalKey) && intervalKey.startsWith(row.toString())) {
                        const interval = intervalKey.split("_").pop()
                        html += `
                            <td>
                                <div class="field">
                                    <div class="control py-2 is-flex is-flex-direction-column">
                                        <div class="is-flex is-flex-direction-row is-align-items-center">
                                            <span class="tag is-success mb-1">Interval ${interval}</span>
                                        </div>
                                        <div class="is-flex is-flex-direction-row is-align-items-center">
                                            <input type="radio" name="${intervalKey}" value="True" ${data[intervalKey] === 'True' ? 'checked' : ''}>
                                            <span class="pl-2">Human</span>
                                        </div>
                                        <div class="is-flex is-flex-direction-row is-align-items-center">
                                            <input type="radio" name="${intervalKey}" value="False" ${data[intervalKey] === 'False' ? 'checked' : ''}>
                                            <span class="pl-2">Voicemail</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        `;
                    }
                }
                html += `
                    <td>
                        <div class="field">
                            <div class="control py-2 is-flex is-flex-direction-column">
                                <div class="is-flex is-flex-direction-row is-align-items-center">
                                    <span class="tag is-warning mb-1">Result</span>
                                </div>
                                <div class="is-flex is-flex-direction-row is-align-items-center">
                                    <input type="radio" name="${resultKey}" value="True" ${data[resultKey] === 'True' ? 'checked' : ''}>
                                    <span class="pl-2">Human</span>
                                </div>
                                <div class="is-flex is-flex-direction-row is-align-items-center">
                                    <input type="radio" name="${resultKey}" value="False" ${data[resultKey] === 'False' ? 'checked' : ''}>
                                    <span class="pl-2">Voicemail</span>
                                </div>
                            </div>
                        </div>
                    </td>
                `;

                html += `
                    <td>
                        <div class="field">
                            <div class="control py-2 is-flex is-flex-direction-column is-align-items-center">
                                <div class="is-flex is-flex-direction-row is-align-items-center">
                                    <span class="tag is-danger mb-1">Action</span>
                                </div>
                                <div class="is-flex is-flex-direction-row is-align-items-center">
                                    <i class="fa-solid fa-trash" onclick="removeInterim('${resultKey}')"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                `;
                html += '</tr>';
                tbody.innerHTML += html;
            }
        }
    }

    function removeInterim(key) {
        document.getElementById(key).remove()
    }

    const criteria = "{{ user.prediction_criteria|string }}"
    parseRows(criteria)

    function saveForm() {
        document.getElementById("userForm").submit();
    }
</script>
</body>
</html>